<p id="notice"><%= notice %></p>

<h1>Users</h1>
  <% @users.each do |user| %>
    <div class="user">
      <%= link_to user.nickname, user_path(user.id) %><br>
      <%= user.email %><br>
      <%= user.desc %>
    </div>
  <% end %>
